<div class="container-sing-in">

	<h2>Sign in</h2>
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

	  <!-- , hint: 'to make a comment in form' -->

	  <div class="form-inputs">
	    <%= f.input :email, required: true, autofocus: true ,:input_html => { :class => "mytext" }%>
	    <%= f.input :password, required: true,:input_html => { :class => "mytext" }%> 
	  </div>
	  <br>
	  <div class="form-actions">
	    <%= f.button :submit, "Sign in" %>
	  </div>
	<% end %>
	


</div>
