<h1>Items</h1>
<div class="container-graduate">
<% @items.each do |item| %>
	<div class="container-profile">	
	  <ul>
	  	<%= item.nombre %>
		<a href=<%= edit_item_path(item)%> >Editar</a>
	  </ul>
	</div>
<% end %>
</div>